<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<script>
window._OLSKWebView = new Main({
	target: document.body,
	props: Object.assign({
		OLSKModalViewTitleText: Math.random().toString(),
		OLSKWebViewURL: '/alfa',
	}, Object.fromEntries(Array.from((new window.URLSearchParams(window.location.search)).entries()))),
});
</script>

<button id="TestOLSKModalViewShow" onclick="_OLSKWebView.modPublic.OLSKModalViewShow()">TestOLSKModalViewShow</button>

<button id="TestOLSKModalViewClose" onclick="_OLSKWebView.modPublic.OLSKModalViewClose()">TestOLSKModalViewClose</button>

<style type="text/css">
/* enables playwright to touch the close button */
.OLSKModalViewOverlay {
	top: 50px !important;
}
</style>
